mobile_backend/.env*
mobile_backend/venv

mobile_backend/__pycache__
mobile_backend/config/__pycache__
mobile_backend/models/__pycache__
mobile_backend/routes/__pycache__
mobile_backend/services/__pycache__
mobile_backend/routes/__pycache__

File
Hackthon
ss
MD
TIDB
Diagram/draw.io/
mobile_backend/not
mobile_backend/.aws-sam

have_some.txt

.vscode
arch.md
AWS-AI-Agent-Global-Hackathon.pdf

Diagram/diagram.md
Diagram/Ecolafaek3.drawio.png
mobile_backend/deploy_lightsail.sh
error.txt
Start_idea.txt
Idea.txt

--
image.png
image1.png
image2.png

some_info.txt
some_submission_need.md
submission_readme.md
video_script copy.md
video_script.md
video.txt
youtube_upload_info.md